<%= "#{@goal.owner.username}" %>'s
<%= @goal.private == true ? "private" : "public" %>
goal
<h1><%= "#{@goal.body}" %></h1>

<h2>Comments</h2>
<% unless @goal.comments.nil? %>
  <% @goal.comments.each do |comment| %>
    <p><%= comment.body %></p>
    by <%= comment.commenter.username %><br>
  <% end %>
<% end %>

<%= render partial: 'comments/comment', locals: { type: @goal.class.to_s.downcase, goal: @goal } %>

<%= link_to "Edit Goal", edit_goal_url(@goal) %> : <%= link_to "Goals", goals_url %>
